.contact {
  display: flex;
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 5vh;
  flex-direction: column;


  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #c5c5c5;
    font-weight: 500;
    font-size: 30px;
    padding: 0 5px;
    outline: 1px transparent;
    transition: all .6s ease-in-out;
  }

  .bx {
    height: 30px;
    width: 30px;
  }

  a:hover {
    outline: 1px solid $primary-color;
  }
}

h1 {
  @include center-content;
  position: relative;
  top: 10vh;
  font-size: 25px;
  font-weight: 700;
  color: #9e7aff;
  transition: all .6s ease-in-out;
}
h1:hover {
  color: aqua;
  transition: all .6s ease-in-out;
}
.icons {
  display: grid;
  position: absolute;
  top: 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;

  i {
    color: #9e7aff;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;

    span {
      color: #c5c5c5;
    }
  }
  i:hover {
    @extend h1:hover;
    outline: 1px solid $primary-color;
  }
}
section {
  @include center-content;
  text-align: center;
  position: relative;
  top: 10vh;
  padding: 40px;
  display: flex;
  gap: 20px;
  p {
    height: auto;
    width: 50%;
  }
}